* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    background-color: #0b0b0b;
}

.header-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 10%;
}

.header-text {
    width: 40%;
    margin-bottom: 5%;
    color: white;
}

.header-text hr {
    width: 150px;
    position: relative;
    top: 20px;
    border: none;
    height: 8px;
    background-color: white;
}

.header-text h1 {
    margin-top: 25px;
    font-size: 80px;
}

.header-text p {
    margin-top: 30px;
    line-height: 30px;
}

.photo-background {
    display: inline;
}

.photo-background img {
    height: 500px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(252, 252, 252, 0.19);
}

.container-first {
    width: 100%;
    height: 700px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color: #181818;
}

.first {
    margin-top: 20px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container-first hr {
    width: 100%;
    position: relative;
    top: 50px;
    border: none;
    height: 0.5px;
    background-color: lightgrey;
}

.about-me {
    width: auto;
    padding-right: 70px;
}

.about-me h1 {
    line-height: 50px;
    font-size: 40px;
}

.about-me p {
    margin-top: 20px;
    line-height: 25px;
}

.experience {
    display: flex;
    align-items: flex-start;
}

.experience div {
    display: flex;
    margin-right: 50px;
}

.experience h1 {
    font-size: 60px;
}

.experience h3 {
    margin-left: 10px;
}

.previous-work {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    vertical-align: center;
}

.previous-work ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

/* ----------------------------------------------- */

.container-second {
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color:#0b0b0b;
}

.container-second h1 {
    margin-top: 20px;
    font-size: 40px;
}

.second {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    height: 350px;
    width: 350px;
    padding: 40px;
    background-color: #202020;
    border-radius: 20px;
    margin-top: 30px;
}

.card {
    margin-top: 30px;
}

.card img {
    height: 70px;
}

.card h2 {
    margin-top: 20px;
}

.card p {
    margin-top: 10px;
    line-height: 25px;
    font-size: 20px;
}

.card hr {
    width: 70px;
    position: relative;
    top: 40px;
    border: none;
    height: 8px;
    background-color: white;
}